# Twitch Config
TWITCH_URL=abc
TWITCH_CLIENT_ID=abc
TWITCH_CLIENT_SECRET=abc
TWITCH_USERNAME=abc
TWITCH_CHANNEL_ID=abc
# API Keys
GOOGLE_APP_ID=abc
GOOGLE_API_KEY=abc
GIPHY_API_KEY=abc
OXFORD_APP_ID=abc
OXFORD_API_KEY=abc