# API Keys
SLACK_USER_TOKEN=abc
BOT_USER_TOKEN=abc
GOOGLE_APP_ID=abc
GOOGLE_API_KEY=abc
GIPHY_API_KEY=abc
OXFORD_APP_ID=abc
OXFORD_API_KEY=abc
# API URLs
YOUTUBE_SEARCH_URL=abc
GOOGLE_SEARCH_URL=abc
GIPHY_URL=abc
OXFORD_URL=abc
URBAN_URL=abc